.colorSet {

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(8, 1fr);
  grid-template-areas:
    "shade0 accent0"
    "shade1 accent1"
    "shade2 accent2"
    "shade3 accent3"
    "shade4 accent4"
    "shade5 accent5"
    "shade6 accent6"
    "shade7 accent7";
  grid-gap: 1rem;

  padding: 2.37037037rem;
  margin: 1rem;

  border-radius: 2px;
  box-shadow: 0 .5625rem 2.37037037rem hsl(0, 0%, 0%, 0.25);

  transition: background-color 300ms ease;

}
