.colorSetWrapper {

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;

  padding: 2.37037037rem;
  margin: 1rem;

  border-radius: 2px;
  box-shadow: 0 .5625rem 2.37037037rem hsl(0, 0%, 0%, 0.25);

  transition: background-color 300ms ease;

  &:hover .focusModeToggle {
    visibility: visible;
    opacity: 1;
  }

  &.focusMode {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    margin: 0;
    border-radius: 0;
  }

}

.colorSet {
  display: grid;
  grid-template-columns: repeat(2, 13.318294975rem);
  grid-template-rows: repeat(8, 1.777777778rem);
  grid-template-areas:
    "shade0 accent0"
    "shade1 accent1"
    "shade2 accent2"
    "shade3 accent3"
    "shade4 accent4"
    "shade5 accent5"
    "shade6 accent6"
    "shade7 accent7";
  grid-gap: 1rem;
}

.focusModeToggle {

  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
  padding: 0;

  outline: none;
  border: none;
  background: transparent;
  cursor: pointer;

  visibility: hidden;
  opacity: 0;
  transition: opacity 100ms ease;

}
