.slideAppear,
.slideEnter {
  transform-origin: top center;
  transform: scale(1.05);
  filter: blur(3px);
  &&Active {
    transform: none;
    filter: none;
    transition: transform 400ms ease, filter 400ms ease;
  }
}
.slideLeave {
  transform-origin: top center;
  transform: none;
  filter: none;
  &&Active {
    transform: scale(1.05);
    filter: blur(3px);
    transition: transform 100ms ease, filter 100ms ease;
  }
}
