.help {
  max-width: 42.092389058rem;
  box-sizing: border-box;
  padding: 2.37037037rem;
}

.table {
  width: 100%;
  border-collapse: collapse;
  & tr:not(:last-child) {
    border-bottom: 1px solid black;
  }
  & td {
    padding: .421875rem;
    width: 50%;
    &:last-child {
      border-left: 1px solid black;
    }
  }
}
