@font-face {
  font-family: "Inconsolata";
  src: url("./assets/Inconsolata-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Inconsolata";
  src: url("./assets/Inconsolata-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

:global(html, body) {
  font-family: "Inconsolata";
  font-size: 16px;
}
