.mainUiLayer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  background: radial-gradient(circle farthest-corner, white, gray(94%));
  filter: none;
  transition: filter 100ms ease;
  &.obscured {
    filter: blur(5px);
    transition: filter 400ms ease;
  }
}

.gui::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 38px;
  -webkit-app-region: drag;
}

.colorSetContainer {
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
