.button {

  --color: #555;

  font-size: 1rem;
  font-family: "Inconsolata";
  padding: 0.421875em 0.5625em;
  margin: 1rem;
  background-color: transparent;
  color: var(--color);
  border: 3px solid var(--color);
  border-radius: 2px;
  outline: none;
  transition: all 200ms ease;

  &:disabled {
    --color: #bbb;
  }

  &:hover:not(:disabled) {
    --color: #666;
  }

  &:active:not(:disabled) {
    --color: #444;
  }

  &.primary {
    background-color: var(--color);
    color: white;
  }

  &.plain {
    background-color: transparent;
    color: var(--color);
    border: none;
  }

  &.noSpace {
    margin: 0;
    padding: 0;
  }

}

.button + .button {
  margin-left: 0;
}
