.deprecationNotice {
  background-color: #282629;
  color: #FFFCFF;
  padding: 0.75em;
  text-align: center;
}

.deprecationNotice a {
  color: #66BFFF;
  text-decoration: underline;
  cursor: pointer;
}
