.overlay {

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: gray(100%, 75%);

  display: flex;
  align-items: center;
  justify-content: center;

  color: gray(30%);

}

.dialogAppear,
.dialogEnter {
  opacity: 0;
  transform-origin: center center;
  transform: scale(1.05);
  filter: blur(3px);
}
.dialogAppearActive,
.dialogEnterActive {
  opacity: 1;
  transform: none;
  filter: none;
  transition: opacity 400ms ease, transform 400ms ease, filter 400ms ease;
}
.dialogExit {
  opacity: 1;
  transform-origin: center center;
  transform: none;
  filter: none;
}
.dialogExitActive {
  opacity: 0;
  transform: scale(1.05);
  filter: blur(3px);
  transition: opacity 200ms ease, transform 200ms ease, filter 200ms ease;
}
