.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 440px;
}

.tipText {
  text-align: center;
}

.videoWrapper {
  position: relative;
  width: 640px;
  height: 360px;
  & video {
    position: absolute;
  }
}

.videoAppear,
.videoEnter {
  opacity: 0;
  &&Active {
    opacity: 1;
    transition: opacity 300ms ease;
  }
}
.videoLeave {
  opacity: 1;
  &&Active {
    opacity: 0;
    transition: opacity 300ms ease;
  }
}
